<div class="container">
  <div class="row">
    <h1 class="title">Angular Router</h1>
  </div>
</div>

<div class="row">
  <div class="col mid-4">
    <nav>
      <button type="button" class="btn btn-outline-success">
        <a routerLink="genres" routerLinkActive="active">Genres</a></button>
        <button type="button" class="btn btn-outline-secondary">
          <a routerLink="artists" routerLinkActive="active">Artists</a></button>
      <button type="button" class="btn btn-outline-info">
        <a routerLink="albums" routerLinkActive="active">Albums </a></button>
    </nav>
    <div>
    </div>


    <router-outlet></router-outlet>